/* قسم التطبيق */
.app-section {
  display: flex;
  align-items: center;
  background-color: #EE2957; /* خلفية حمراء */
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px; /* تحديد أقصى عرض للقسم */
  border-radius: 10px;
}

/* الصورة */
.app-image {
  margin-right: 20px; /* مسافة بين الصورة والنص */
}

.app-image img {
  width: 300px; /* حجم الصورة */
  height: auto;
  border-radius: 10px;
}

/* المحتوى النصي */
.app-content {
  color: white; /* النصوص باللون الأبيض */
  flex: 1;
  text-align: left;
}

/* العنوان */
.app-content h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* النصوص */
.app-content p {
  color: white;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}


.download-buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.download-icon {
  width: 100px; 
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease; 
  margin-top: 10px;
}

.download-icon:hover {
  transform: scale(1.1); 
}


@media (max-width: 768px) {
  .app-section {
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    padding: 10px; 
    margin-left: 5px;
  }

  .app-image {
    margin-right: 10px; 
    flex: 0 0 150px; 
  }

  .app-image img {
    width: 150px; 
    height: auto;
    border-radius: 5px;
  }

  .app-content {
    flex: 1; 
    text-align: left;
  }

  .app-content h2 {
    font-size: 14px; 
    margin-bottom: 5px;
  }

  .app-content p {
    font-size: 12px; 
    margin-bottom: 5px;
  }

  .download-buttons {
    display: flex;
    gap: 5px; 
    justify-content: flex-start;
  }

  .download-icon {
    width: 60px; 
    height: auto;
    margin-top: 5px;
  }
}

/* Media Query للأجهزة الأصغر من 480px */
@media (max-width: 480px) {
  .app-section {
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
    padding: 5px; 
    margin-right: 3px;
    margin-top: 10px;
  }

  .app-image {
    flex: 0 0 60px; 
    margin-right: 3px; 
  }

  .app-image img {
    width: 80px; 
    height: 90px;
    border-radius: 3px; 
  }

  .app-content {
    flex: 1; 
    text-align: left;
  }

  .app-content h2 {
    font-size: 10px;
    margin-bottom: 3px;
  }

  .app-content p {
    font-size: 8px;
    margin-bottom: 3px;
    line-height: 1.2; 
  }

  .download-buttons {
    display: flex;
    gap: 3px; 
    justify-content: flex-start; 
  }

  .download-icon {
    width: 45px; 
    height: auto;
    margin-top: 11px;
  }
}


