@import 'react-phone-input-2/lib/style.css';
/* التأكد من أن التمرير الأفقي غير مسموح في جميع أجزاء الصفحة */
html, body {
    width: 100%;
    margin: 0;  /* إزالة الهوامش الافتراضية */
    padding: 0; /* إزالة الحواف الافتراضية */
    overflow-x: hidden; /* منع التمرير الأفقي */
  }
  html[dir="rtl"] {
    direction: rtl;
    text-align: right;
  }
  
  html[dir="ltr"] {
    direction: ltr;
    text-align: left;
  }
  
  /* التأكد من أن كل العناصر تستخدم box-sizing بطريقة صحيحة */
  *,
  *::before,
  *::after {
    box-sizing: border-box; /* ضمان عدم التأثير على الأبعاد بسبب الحواف والمسافات الداخلية */
  }
  
  /* التأكد من عدم تجاوز العناصر عرض الصفحة */
  body {
    max-width: 100%;
    overflow-x: hidden; /* تأكيد منع التمرير الأفقي */
  }
  
  /* إضافة فحص لتجنب أي محتوى يتجاوز العرض */
  footer, .footer, .footer-left, .footer-center, .footer-right {
    max-width: 100%; /* منع العناصر من تجاوز العرض */
    overflow-x: hidden; /* عدم السماح بالتمرير الأفقي في الفوتر */
  }
  